.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vmax;
}

.left {
  flex: 1;
}

.desc {
  font-family: var(--font-sans);
  color: var(--slate);
  font-size: 1.5vmax;
  letter-spacing: 0.01vmax;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_img {
  width: 22vmax;
  border-radius: 1vmax;
}

.img_border {
  width: 22vmax;
  height: 22vmax;
  position: absolute;
  border: 0.2vmax solid var(--green);
  border-radius: 1vmax;
  margin-top: 1.9vmax;
  margin-left: 1.9vmax;
  transition: var(--transition);
  z-index: -1;
}

.profile_img:hover ~ .img_border {
  margin-top: 1vmax;
  margin-left: 1vmax;
}

@media screen and (max-width: 900px) {
  .desc {
    font-size: 2.5vmax;
    letter-spacing: 0.01vmax;
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
    width: 80vw;
    align-items: center;
    position: relative;
    top: 8vmax;
    left: 6vmax;
  }
  .left {
    margin-top: 0;
  }
}
